div.catalogue_conteiner
    h2 Категорії
    img.catalog_img1(src='../img/shape-7.png')
    ul
        li
            a(href='#') Горілка
            img.list_img(src='../img/shape-72.png')
        li
            a(href='#') Вино
            img.list_img(src='../img/shape-72.png')
        li
            a(href='#') Пиво
            img.list_img(src='../img/shape-72.png')
        li
            a(href='#') Віскі
            img.list_img(src='../img/shape-72.png')
        li
            a(href='#') Ром
            img.list_img(src='../img/shape-72.png')
        li
            a(href='#') Текіла
            img.list_img(src='../img/shape-72.png')
        li
            a(href='#') Абсент
            img.list_img(src='../img/shape-72.png')
    div.catalogue.box
        div.catalogue_filter
            div.catalogue_filter_head
                img(src='../img/controls.png')
                p Фільтрація
            div.catalogue_filter_sort
                div.catalogue_filter_sort_part1
                    img(src='../img/sort.png')
                    p Сортувати
                    input.filter_hide(type='button' value='Hide')
                div.catalogue_filter_sort_check
                    form.ckeck
                        input.radiobox(type='radio' name='sort3' checked='checked' ng-click='my.orderByMe("none")' )
                        br
                        label
                            input.radiobox(type='radio' name='sort3' ng-click='my.orderByMe("name")')
                            |  A-Z
                        br
                        label
                            input.radiobox(type='radio' name='sort3'  ng-click='my.orderByMe("price")')
                            |  По ціні від 0-9
                        br
                        label
                            input.radiobox(type='radio' name='sort3'  ng-click='my.orderByMe("-price")')
                            |  По ціні від 9-0
            div.catalogue_filter_pice
                div.catalogue_filter_price_part1
                    img(src='../img/wallet.png')
                    p Ціна
                    input.filter_hide(type='button', value='Hide')
            div.catalogue_filter_volume
                div.catalogue_filter_volume_part1
                    img(src='../img/measuring-cup.png')
                    p Об’єм
                    input.filter_hide(type='button' value='Hide')
                form.ckeck
                    label
                        input(type='checkbox', ng-model='my.volume1')
                        | 0.25
                    br
                    label
                        input(type='checkbox', ng-model='my.volume2')
                        | 0.33
                    br
                    label
                        input(type='checkbox', ng-model='my.volume3')
                        | 0.5
                    br
                    label
                        input(type='checkbox', ng-model='my.volume4')
                        | 0.75
                    br

            div.catalogue_filter_volume
                div.catalogue_filter_volume_part1
                    img(src='../img/thermometer.png')
                    p Міцність
                    input.filter_hide(type='button' value='Hide')
                form.ckeck
                    label
                        input(type='checkbox', ng-model='my.strength1')
                        | 0
                    br
                    br
                    label
                        input(type='checkbox', ng-model='my.strength2')
                        | 0.5
                    br
                    label
                        input(type='checkbox', ng-model='my.strength3')
                        | 2
                    br
                    label
                        input(type='checkbox', ng-model='my.strength4')
                        | 3
            div.catalogue_filter_volume
                div.catalogue_filter_volume_part1
                    img(src='../img/real-estate.png')
                    p Бренд
                    input.filter_hide(type='button' value='Hide')
                form.ckeck
                    label
                        input(type='checkbox', ng-model='my.brand1')
                        | Hoegaarden
                    br
                    br
                    label
                        input(type='checkbox', ng-model='my.brand2')
                        | Krombacher
                    br
                    br
                    label
                        input(type='checkbox', ng-model='my.brand3')
                        | Leffe
                    br
                    br
                    label
                        input(type='checkbox', ng-model='my.brand4')
                        | Lowenbrau
                    br
            div.catalogue_filter_volume
                div.catalogue_filter_volume_part1
                    img(src='../img/flag.png')
                    p Країна
                    input.filter_hide(type='button' value='Hide')
                form.ckeck
                    label
                        input(type='checkbox', ng-model='my.country1')
                        | Бельгія
                    br
                    br
                    label
                        input(type='checkbox', ng-model='my.country2')
                        | Великобританія
                    br
                    br
                    label
                        input(type='checkbox', ng-model='my.country3')
                        | Ірландія
                    br
                    br
                    label
                        input(type='checkbox', ng-model='my.country4')
                        | Мексика
                    br
                    br
                    label
                        input(type='checkbox', ng-model='my.country5')
                        | Німеччина
                    br
                    br
                    label
                        input(type='checkbox', ng-model='my.country6')
                        | Чехія
                    br
        div.catalogue_goods
            div.catalogue_goods_object(ng-repeat='goods in my.goods| filter:my.myfilter | orderBy:my.myOrderBy | startFrom: my.startingItem()| limitTo: my.itemsPerPage' ng-click='my.detail_of_goods(goods)'  )
                a(href='#/details')
                    img(ng-src='{{goods.image}}')
                h4 {{goods.name}}
                p {{goods.volume}}ml
                p.price_goods {{goods.price}} грн
                input.to_basket(type='button' value='В корзину' ng-click='my.ByGoods(goods)' ng-model='my.CountGood')
    div.catalogue_goods_paginnation
        input(type='button' value='назад' ng-disabled='my.firstPage()' ng-click='my.pageBack()')
        span {{my.currentPage+1}} з {{my.numberOfPages()}}
        input(type='button' value='вперед' ng-disabled='my.lastPage()' ng-click='my.pageForward()')
        span {{my.page_count=(my.goods|filter:my.myfilter).length}}