div.catalogue_conteiner
    h2 Категорії
    img.catalog_img1(src='../img/shape-7.png')
    //ul
        li
            a(href='#') Горілка
            img.list_img(src='../img/shape-72.png')
        li
            a(href='#') Вино
            img.list_img(src='../img/shape-72.png')
        li
            a(href='#') Пиво
            img.list_img(src='../img/shape-72.png')
        li
            a(href='#') Віскі
            img.list_img(src='../img/shape-72.png')
        li
            a(href='#') Ром
            img.list_img(src='../img/shape-72.png')
        li
            a(href='#') Текіла
            img.list_img(src='../img/shape-72.png')
        li
            a(href='#') Абсент
            //img.list_img(src='../img/shape-72.png')
    div.category

        input#category-02.category-selector-2(type='radio', name='radio-set' checked=true ng-click='my.getBeer()')
        label.category-label-2(for='category-02') Пиво

        input#category-03.category-selector-3(type='radio', name='radio-set'  )
        label.category-label-3(for='category-03' ng-click='my.getWine()') Вино

        input#category-04.category-selector-4(type='radio', name='radio-set'  ng-click='his.dateFilter="-04-"')
        label.category-label-4(for='category-04') Горілка

        input#category-05.category-selector-5(type='radio', name='radio-set'  ng-click='his.dateFilter="-05-"')
        label.category-label-5(for='category-05') віскі

        input#category-06.category-selector-6(type='radio', name='radio-set'  ng-click='his.dateFilter="-06-"')
        label.category-label-6(for='category-06') ром

        input#category-07.category-selector-7(type='radio', name='radio-set'  ng-click='his.dateFilter="-07-"')
        label.category-label-6(for='category-07') текіла

        input#category-08.category-selector-7(type='radio', name='radio-set'  ng-click='his.dateFilter="-07-"')
        label.category-label-6(for='category-08') інше


    div.catalogue.box
        div.catalogue_filter
            div.catalogue_filter_head
                img(src='../img/controls.png')
                p Фільтрація
            div.catalogue_filter_sort
                div.catalogue_filter_sort_part1
                    img(src='../img/sort.png' )
                    p Сортувати
                    input#hide.filter_hide(type='button' value='Hide' ng-click='my.show_hide()' )
                    input#show.filter_hide(type='button' value='Show' ng-click='my.close_show_hide()' )
                div#myHide.catalogue_filter_sort_check
                    form.ckeck
                        //input.radiobox(type='radio' name='sort3' checked='checked' ng-click='my.orderByMe("none")' )
                        //br
                        label
                            input.radiobox(type='radio' name='sort3' ng-click='my.sortGoods("name")')
                            |  A-Z
                        br
                        label
                            input.radiobox(type='radio' name='sort3'  ng-click='my.sortGoods("price")')
                            |  По ціні від 0-9
                        br
                        label
                            input.radiobox(type='radio' name='sort3'  ng-click='my.sortGoods("-price")')
                            |  По ціні від 9-0
            div.catalogue_filter_pice
                div.catalogue_filter_price_part1
                    img(src='../img/wallet.png')
                    p Ціна
                    input#hide2.filter_hide(type='button', value='Hide' ng-click='my.hide()')
                    input#show2.filter_hide(type='button', value='Show' ng-click='my.show()')
                div#myHide2.catalogue_filter_price2
                    span  Від {{my.lower_price_bound}} до {{my.upper_price_bound}}
                    slider(floor='{{my.lp}}', ceiling='{{my.hp}}', ng-model-low='my.lower_price_bound', ng-model-high='my.upper_price_bound')





            div.catalogue_filter_volume
                div.catalogue_filter_volume_part1
                    img(src='../img/measuring-cup.png')
                    p Об’єм
                    input#hide3.filter_hide(type='button', value='Hide' ng-click='my.hide2()')
                    input#show3.filter_hide(type='button', value='Show' ng-click='my.show2()')
                form#myHide3.ckeck()
                    label(ng-repeat='volume in my.volume| orderBy:volume')
                        input(type='checkbox' ng-click='my.includeVolume(volume)')
                        |  {{volume/1000}}
                        br

            //filter by
            div.catalogue_filter_volume
                div.catalogue_filter_volume_part1
                    img(src='../img/thermometer.png')
                    p Міцність
                    input#hide4.filter_hide(type='button', value='Hide' ng-click='my.hide3()')
                    input#show4.filter_hide(type='button', value='Show' ng-click='my.show3()')
                form#myHide4.ckeck
                    label(ng-repeat='strength in my.strength| orderBy:strength')
                        input(type='checkbox' ng-click='my.includeStrength(strength)' )
                        |  {{strength}}
                        br

            div.catalogue_filter_volume
                div.catalogue_filter_volume_part1
                    img(src='../img/real-estate.png')
                    p Бренд
                    input#hide5.filter_hide(type='button', value='Hide' ng-click='my.hide4()')
                    input#show5.filter_hide(type='button', value='Show' ng-click='my.show4()')
                form#myHide5.ckeck
                    label(ng-repeat='brand in my.brand| orderBy:brand')
                        input(type='checkbox', ng-click='my.includeBrand(brand)')
                        |  {{brand}}
                        br

            div.catalogue_filter_volume
                div.catalogue_filter_volume_part1
                    img(src='../img/flag.png')
                    p Країна
                    input#hide6.filter_hide(type='button', value='Hide' ng-click='my.hide5()')
                    input#show6.filter_hide(type='button', value='Show' ng-click='my.show5()')
                form#myHide6.ckeck
                    label(ng-repeat='country in my.state')
                        input(type='checkbox', ng-click='my.includeCountry(country)')
                        |  {{country}}
                        br



        div.catalogue_goods
            div.catalogue_goods_object(ng-repeat='goods in my.goods| filter:my.volumeFilter|filter:my.brandFilter|filter:my.countryFilter|filter:my.strengthFilter|filter:my.priceRange|orderBy:my.myOrderBy | startFrom: my.startingItem()| limitTo: my.itemsPerPage' ng-click='my.detail_of_goods(goods)'  )
                a(href='#/details')
                    img.goods_img(ng-src='{{goods.image}}')
                h4 {{goods.name}}
                p {{goods.volume}}ml
                p.price_goods {{goods.price}} грн
                input.to_basket(type='button' value='В корзину' ng-click='my.ByGoods(goods)' ng-model='my.CountGood')

    div.catalogue_goods_paginnation
        input(type='button' value='назад' ng-disabled='my.firstPage()' ng-click='my.pageBack()')
        span {{my.currentPage+1}} з {{my.numberOfPages()}}
        input(type='button' value='вперед' ng-disabled='my.lastPage()' ng-click='my.pageForward()')
        span {{my.page_count=(my.goods|filter:my.myfilter).length}}