div#footer
    a(name='contacts')
    div#footer_section1
        div.footer_section1_logo
        ul
            li
                a(href='#/') Головна
            li
                a(href='#/catalogue') КАталог
            li
                a(href='#/main.html#Shares') Акції
            li
                a(href='#/main.html#delivery') Доставка
            li
                a(href='#/main.html#aboutus') Про нас
    div#footer_section2
        div.footer_section1_logo2
        div.footer_section2_head
            h3 Контакти
        div.footer_section2_block
            p Україна
            p Львівька область
            p м. Львів
            p Франківский район
            p вул. Володимира Великого, 2
            p 79070
            br
            div.footer_section2_block_contacts
                img(src='../img/call.png')
                p +38 (093) 134 53 79
            div.footer_section2_block_contacts
                img(src='../img/call.png')
                p +38 (093) 134 53 79
            div.footer_section2_block_contacts
                img(src='../img/1495466736-printer.png')
                p +38 (096) 276 88 85
            div.footer_section2_block_contacts
                img(src='../img/1495466776-post.png')
                p andriy_khimyak@ukr.net

    div#footer_section3
        div.footer_section3_connect
            h3 get connected
            div.footerSocial
                div.footerSocial_link1
                div.footerSocial_link2
                div.footerSocial_link3
                div.footerSocial_link4
        div.footer_section2_head
            h3 Newsletter
        div.footer_section3_text
            p Lorem ipsum dolor sit amet, consectetuer
                |adipiscing elit .Aenean commodo ligula.
                |Aenean massa. Aenean commodo ligula eget dolor.
                |Aenean massa.

        div.footer_section3_input
            div.footer_section3_input1
                input.foooter_input(type='text' placeholder='youremail@domain.com')
            div.footer_section3_input2
                input.foooter_button(type='button' value='SUBSCRIBE')

div#footer_end
    p &copy; 2017. All Rights Reserved
