div#main_conteiner
    div#conteiner_section1
        div#bottle
            a(href='#/catalogue')
                img(src='../img/vine2.png')
            a(href='#/catalogue')
                img(src='../img/vine2.png')
            a(href='#/catalogue')
                img(src='../img/vodka.png')
            a(href='#/catalogue')
                img(src='../img/beer.png')
            a(href='#/catalogue')
                img(src='../img/vine2.png')
        div#par1
            h1#paragraph lorem ipsum dolor
        input.butt_lorem(type='button' value='Lorem ipsum ')

    div#conteiner_section2
        div#section2_aside1
            div#section2_aside1_part1
                img(src='../img/breezer.jpg')
            div#section2_aside1_part2
                h1 Fast Delivery
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta nihil reprehenderit explicabo magni quaerat asperiores ducimus officia eveniet ad temporibus doloremque repellendus odio repudiandae nisi minima sit ab quis, dicta!
                input#fast_delivery(type='button' value='Lorem ipsum')
        div#section2_aside2
            div#section2_aside2_part1
                h1 Hign Quality and low price
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis eos explicabo tenetur facilis qui earum, autem voluptatum voluptatibus soluta pariatur. Iste tempora dolorem ducimus possimus. Sapiente nostrum cum eveniet voluptatibus
            div#section2_aside2_part2
                img(src='../img/wisky.jpg')
    div#conteiner_section3
        a(name='Shares')
        div.section3_header
            p Lorem ipsum dolor
        div.section3_content
            div.section3_content_drink1
                img(src='../img/sandeman.png')
            div.section3_content_drink1
                img(src='../img/controine.png')
            div.section3_content_drink1.center
                img(src='../img/martiniRose.png')
            div.section3_content_drink1
                img(src='../img/champane.png')
            div.section3_content_drink1
                img(src='../img/vine.png')
        div.section3_footer
            p Sandeman porto
            p Colintreau
            p martini rose
            p shampagne
            p wine
        div.section3_header.part2
            p Lorem ipsum dolor
        div.section3_content.part2
            div.section3_content_drink1
                img(src='../img/sandeman.png')
            div.section3_content_drink1
                img(src='../img/controine.png')
            div.section3_content_drink1.center
                img(src='../img/martiniRose.png')
            div.section3_content_drink1
                img(src='../img/champane.png')
            div.section3_content_drink1
                img(src='../img/vine.png')
        div.section3_footer.part2
            p Sandeman porto
            p Colintreau
            p martini rose
            p shampagne
            p wine
    div#conteiner_section4
        a(name='aboutus')
        div#conteiner_section4_about
            h2 About Us
            p Lorem ipsum dolor sit amet, consectetur
                |adipiscing elit, sed do eiusmod tempor
                |incididunt ut labore et dolore magna
                |aliqua. Ut enim ad minim veniam,
                |quis nostrud exercitation ullamco
                |laboris nisi ut aliquip ex ea commodo
                |consequat. Duis aute irure dolor in
                |reprehenderit in voluptate velit esse
                |cillum dolore eu fugiat nulla pariatur.
                |Excepteur sint occaecat cupidatat non
                |proident, sunt in culpa qui officia
                |deserunt mollit anim id est laborum
            p Lorem ipsum dolor sit amet, consectetur
                |adipiscing elit, sed do eiusmod tempor
                |incididunt ut labore et dolore magna
                |aliqua. Ut enim ad minim veniam, quis
                |nostrud exercitation ullamco laboris
                |nisi ut aliquip ex
            img.mint(src='../img/mint-png33.png')
    div#conteiner_section5
        a(name='delivery')
        h1 Lorem ipsum dolor sit amet
        div#conteiner_section5_box
            div.conteiner_section5_box1
                img(src='../img/1234.png')
                p.down Lorem ipsum dolor sit amet
            div.conteiner_section5_box1
                p.up Lorem ipsum dolor sit amet
                img(src='../img/e535b.png')
            div.conteiner_section5_box1
                img(src='../img/0d4fa2551.png')
                p.down Lorem ipsum dolor sit amet
            div.conteiner_section5_box1
                p.up Lorem ipsum dolor sit amet
                img(src='../img/b9d84c5b8b0.png')
