*{
  margin: 0;
  padding: 0;
}

.conteiner_details{
  color: #f6f6f6;
  font-family: $font_family;
  max-width: 1920px;
  //height: 1467px;
  background-color: #0b1013;


  h3{
    padding: 70px 0px 70px 100px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    @include mobile{
      padding: 20px 0px 20px 30px;
      font-size: 11px;
      font-weight: 400;
      line-height: 24px;
    }
    @include tablet{
      font-size: 11px;
      font-weight: 400;
      line-height: 24px;
    }
  }
  img{
    max-width: 100%;
    height: auto;

  }

  .details{
    display: flex;
    justify-content: center;


  }
  .details_img{
    //
    width: 30%;
    @include mobile{
      flex-basis: 40%;
    }
    img{
      max-width: 100%;
      height: 80%;
      @include mobile{
        margin-left: 20px;
        max-width: 100%;
        height: 30%;
      }
      @include tablet{
        max-width: 70%;

      }
    }

  }
  .details_content{
    display: flex;
    justify-content: flex-start;
    padding-bottom: 100px;
    flex-direction: column;
    width: 60%;
    //flex-basis: 35%;
    @include mobile{
      padding-right: 5px;
    }

    h1{
      padding-bottom: 50px;
      font-size: 40px;
      font-weight: bold;
      line-height: 44px;
      @include mobile{
        font-size: 24px;
        line-height: 24px;
        padding-bottom: 20px;
      }
      @include tablet{
        font-size: 24px;
        line-height: 24px;
      }

    }
    p{
      font-size: 19px;
      font-weight: 400;
      line-height: 26px;
      padding-bottom: 20px;
      @include mobile{
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
        padding-bottom: 10px;
      }
      @include tablet{
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
      }

    }

    .details_input{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .details_input-left{
        display: flex;
        width: 150px;
        justify-content: space-around;
        align-items: center;
        @include mobile{
          width: 100px;
        }
        @include  tablet{
          width: 100px;
        }
      }

    }


    .price{
      font-size: 21px;
      font-weight: bold;
      line-height: 24px;
      text-transform: uppercase;
      width: 22%;
      flex-basis: 20%;
      @include mobile{
        font-size: 16px;
        font-weight: bold;
        line-height: 30px;
        flex-basis: 50%;
        padding-left: 30px;
        padding-top: 10px;
      }
      @include tablet{
        font-size: 16px;
        font-weight: bold;
        line-height: 50px;
        padding-right: 130px;
      }
    }
    .minus {
      height: 25px;
      width: 25px;
      background: transparent;
      border: 0px;
      background: url('../img/minus.png') no-repeat center;
      @include mobile{
        width: 17px;
        height: 17px;
      }
      @include tablet{
        width: 17px;
        height: 17px;
      }

    }
    .plus {
      height: 25px;
      width: 25px;
      background: transparent;
      border: 0px;
      background: url('../img/plus.png') no-repeat center;
      @include mobile{
        width: 17px;
        height: 17px;
      }
      @include tablet{
        width: 17px;
        height: 17px;
      }

    }
    .text_butt{
      width: 6px;
      font-size: 25px;
      font-weight: bold;
      line-height: 60px;
      padding-bottom: 0px;
      @include mobile{
        padding-left:10px;
        padding-right: 10px;
        font-size: 24px;
        font-weight: 400;
        line-height: 40px;
      }
      @include tablet{
        font-size: 24px;
        font-weight: 400;
        line-height: 59px;
      }
    }
    .details_button{
      color: #30f4ab;
      font-size: 21px;
      font-weight: bold;
      line-height: 24px;
      text-transform: uppercase;
      border: 1px solid #30f4ab;
      background-color: #303030;
      height: 71px;
      width: 442px;
      margin: 50px 20px 0px 0px;
      @include mobile{
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        width: 100%;
        height: 38px;
        border: 2px solid #30f4ab;
      }
      @include tablet{
        width: 300px;
        height: 44px;
        border: 2px solid #30f4ab;
        background: transparent;
        font-size: 18px;
        font-weight: 400;
        line-height: 44px;
        margin-right: 150px;
      }
    }
  }
  .details_description{
    padding-top: 20px;
  }
  .details_description_part{
    @include mobile{
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
    }
    @include tablet{
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
    }
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
    .part_text{
      flex-basis: 50%;
    }
  }

}