img{
  max-width: 100%;
  height: auto;
}
#main_conteiner{
  margin-top: -20px;
  display: flex;
  max-width: 1920px;
  height: auto;
  //height: 4000px;
  flex-direction: column;
  background: url('../img/bg.png') repeat-y center;
  background-size: 75%;
  z-index: -2;
  font-family: $font_family;
  @include mobile{
    margin-top:-100px;
    background: none;
  }

@include tablet{
  background:none;
}



  #conteiner_section1{
    //height: 675px;
    background: url('../img/jameson.jpg') no-repeat center;
    background-size: 100%;
    max-width: 1920px;
    display: flex;
    @include mobile{
      background: url('../img/bg-planshet.png') no-repeat center;
      background-size: 100%;
      height: 517px;
    }
    @include tablet{
      background: url('../img/bg-planshet.png') no-repeat center;
      background-size: 100%;
      height: 705px;
    }
    @include pc_1024{
      margin-top: -100px;
    }

  }
  #bottle{
    @include mobile{
      display: none;
    }
    @include tablet{
      display: none;
    }
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    //width: 285px;
    img{
      max-width: 100%;
      height: auto;
    }
    @include pc_1024{
      padding-top: 150px;
      padding-bottom: 150px;
      img{
        max-width: 70%;
        height: auto;
      }
    }


  }
  .butt_lorem{
    display: none;
    font-size: 18px;
    font-weight: bold;
    line-height: 36px;
    text-transform: uppercase;
    color: #feffff;
    width: 289px;
    height: 67px;
    border: 2px solid #30f4ab;
    background: transparent;
    @include mobile{
      display: block;
      width: 207px;
      height: 54px;
      margin-top: 340px;
      margin-left: -600px;
    }
    @include tablet{
      display: block;
      margin-top: 550px;
      margin-left: -600px;
    }
  #par1{
    flex-grow: 5;
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;

    }


  }
  #paragraph{
    color:$color_white;
    text-transform: uppercase;
    font-size: 36pt;
    width: 650px;
    padding-top: 30px;
    @include pc_1024{
      padding-top: 100px;
    }
    @include mobile{
      font-size: 24px;
      font-weight: 700;
      line-height: 36px;
      padding-left: 50px;
      padding-top: 100px;
    }
    @include tablet{
      font-size: 30px;
      font-weight: 700;
      line-height: 36px;
      padding-left: 400px;
      padding-top: 50px;
    }

  }



  #conteiner_section2{
    @include pc_1024{
      margin-top: -150px;
    }
    @include tablet{
      background: url('../img/bg2.png') repeat-y center;
      background-size: 100%;
      z-index: -2;


    }
    @include mobile{
      background: url('../img/bg2.png') repeat-y center;
      background-size: 100%;
      z-index: -2;
      margin-top: -100px;
      flex-direction: column;
      margin-left: 10px;
      margin-right: 10px;
    }
    //height: 1030px;
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    //padding-bottom: 100px;
  }
  #section2_aside1{
    //flex-grow: 2;
    width: 50%;
    display: flex;
    flex-direction: column;
    @include mobile{
      width: 100%;
    }
    @include tablet{
      margin-right: 60px;
    }
  }
  #section2_aside1_part1{
    //background: url('../img/breezer.jpg') no-repeat center;
    //flex-grow: 5;
    @include mobile{
      margin-left: 10px;
      img{
        width: 100%;
      }
    }
    @include  tablet{
      margin-left: 10px;
      img{
        width: 100%;
      }
    }
    @include pc_1024{
      margin-left: -50px;
      img{
        max-width: 110%;
        height: auto;
      }
    }

    margin-top: 100px;
    margin-left: -20px;

  }
  #section2_aside1_part2{
   // flex-grow: 1;
    //max-width: 700px;
    margin-left: 50px;
    @include tablet{
       margin-left: 10px;
     }
    @include mobile{
      margin-left: 10px;
    }

  }
  #section2_aside1_part2 h1{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30pt;
    @include mobile{
      font-size: 20px;
      line-height: 34px;
    }
    @include tablet{
      font-size: 30px;
      font-weight: bold;
      line-height: 40px;
    }
  }
  #section2_aside1_part2 p{
    text-transform: uppercase;
    font-size: 16pt;
    @include mobile{
      font-size: 12px;
      line-height:18px;
    }
    @include tablet{
      font-size: 18px;
      font-weight: bold;
      line-height: 26px;
    }
  }
  #fast_delivery{
    @include tablet{
      display: none;
    }
    @include mobile{
      display: none;
    }
    width: 420px;
    height: 70px;
    background: transparent;
    border: 3px solid $color_green;
    color:$color_green;
    text-transform: uppercase;
    font-size: 24pt;
    @include pc_1024{
      width: 300px;
    }
  }
  #section2_aside2{
    //flex-grow: 2;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    margin-left: 150px;
    @include mobile{
      width: 100%;
      margin-top: 40px;
      margin-left: 10px;
    }
    @include pc_1024{
      margin-left: 100px;
    }
    @include tablet{
      margin-left: -50px;
    }
  }
  #section2_aside2_part1 {
    //flex-grow: 1;
    //max-width: 640px;

  }
  #section2_aside2_part2{
    @include mobile{
      margin-right: 10px;
      img{
        width: 100%;
      }
    }
    @include  tablet{
      margin-left: 0px;
      img{
        width: 95%;
      }
    }
    @include pc_1024{
      width: 120%;
    }
    margin-bottom: 75px;
    margin-right: -20px;
  }
  #section2_aside2_part1 h1{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30pt;
    @include mobile{
      font-size: 20px;
      line-height: 26px;
    }
    @include tablet{
      font-size: 30px;
      font-weight: bold;
      line-height: 40px;
    }
  }
  #section2_aside2_part1 p{
    text-transform: uppercase;
    font-size: 16pt;
    @include mobile{
      font-size: 12px;
      line-height:18px;
    }
    @include tablet{
      font-size: 18px;
      font-weight: bold;
      line-height: 26px;
    }
  }

  #conteiner_section3{

    width: 100%;
    height: 1294px;
    background: url('../img/lines.jpg') no-repeat center;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    @include mobile{
      background: url('../img/5-layers.png') no-repeat center;
      background-size: 120%;
      margin-top: -310px;
    }




    .section3_header{
      background: url('../img/line1.png') no-repeat center;
      width: 100%;
      height: 50px;
      color:#7af4ca;
      text-transform: uppercase;
      font-size: 20pt;
      display: flex;
      justify-content: center;
      padding-top: 35px;

      @include mobile{
        font-size: 14px;
        margin-top: 250px;
      }
      .down{
        @include mobile{
          padding-top: 30px;
        }
      }

      @include tablet{
        padding-top: 80px;
      }
      .part2{
        margin-top: -50px;
        @include tablet{
          margin-top: -10px;
        }
      }
    }

    .section3_content{
      width: 100%;
      height: 380px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-end;
      padding-left: 150px;
      @include mobile{
        justify-content: space-around;
        align-items: center;
        margin-left: 10px;
        padding-left: 10px;
        margin-top: -130px;
    }
      @include tablet{
        padding-left: 70px;
        margin-left: 20px;
      }

      .section3_content_drink1.close{
        @include mobile{
          display: none;
        }
      }

      .section3_content_drink1{
        flex-grow: 1;
        max-height: 380px;

        @include mobile{
          max-height: 138px;
          margin-bottom: 50px;
          padding: 30px 0px;
          img{
            max-width: 50px;
            max-height: 138px;
          }
        }

        @include tablet{
          max-height: 300px;
          margin-bottom: 50px;

        }

      }
      .section3_content_drink1.center{
        @include mobile{
          img{
            max-width: 55px;
            max-height: 150px;
          }
        }
        @include tablet{
          margin-bottom: 120px;
        }
      }
    }
    .section3_content.part2{
      @include mobile{
        margin-top: -420px;
        padding-bottom: 80px;
      }
    }
    .section3_header.part2{
      @include mobile{
        margin-top: -340px;
      }
      p{
        @include mobile{
          margin-top: 30px;
        }
      }
    }
    .section3_footer.part2{
      @include mobile{
        margin-top: -280px;
      }

    }
    .section3_footer{
      background: url('../img/line2.png') no-repeat center;
      width: 100%;
      height: 59px;
      color: white;
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 20pt;
      text-transform: uppercase;
      padding-left: 100px;
      margin-top: -50px;
      @include mobile{
        background: url('../img/rectangle-19m.png') no-repeat center;
        width: 120%;
        font-size: 12px;
        line-height: 24px;
        padding-left: 20px;
        margin-top: -225px;
        height: 39px;
      }
      @include tablet{
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        padding-left: 70px;
      }

      p {
        display: block;
        width: 20%;
      }
      p.close{
        @include mobile{
          display: none;
        }
      }

    }

  }



  #conteiner_section4 {

    background: url('../img/about2.png') no-repeat center;

    background-size: 90%;
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 100px;

    justify-content: center;
    @include  mobile{
      background: url('../img/about3.png') no-repeat center;
      background-size: 80%;
      height: 513px;
      margin-left: 30px;
      margin-right: 10px;
      margin-top: -220px;
    }
    @include tablet{
      background: url('../img/about3.png') no-repeat center;
      background-size: 80%;
      height: 513px;
      margin-left: 50px;
      margin-right: 150px;
    }
    @include pc_1024{
      background-size: 95%;
      margin-top: 30px;
    }

    #conteiner_section4_about {
      @include pc_1024{
        margin-right: 200px;

      }
      position: relative;
      margin-top: 55px;
      margin-right: 350px;
      flex-basis: 35%;
      //height: 500px;
      background: #343434;
      color: $color_white;
      font-size: 10px;
      font-weight: bold;
      line-height: 18px;
      text-transform: uppercase;
      padding: 60px;
      position: relative;
      z-index: 5;
      @include mobile{
        margin-right: 100px;
        margin-top: -50px;
        padding: 10px;
        flex-basis: 100%;
        width: 520px;
        height: 359px;
        background-size: 150%;
      }

      @include tablet{
        margin-left: 50px;
        margin-top: -50px;
        padding: 20px;
        flex-basis: 100%;
        width: 520px;
        height: 359px;
      }
      .mint{
        width: 316px;
        height: 243px;

        display: none;
        @include mobile{
          display: block;
          position: relative;
          margin-left: 270px;
          margin-top: 270px;
        }
        @include tablet{
          display: block;
          position: relative;
          margin-left: 250px;
          margin-top: 220px;

        }
      }
      //overflow: hidden;
      p.hide{
        @include mobile{
          display: none;
        }
      }
      p{
        font-size: 18px;
        font-weight: bold;
        line-height: 26px;
        text-transform: uppercase;
        @include mobile{
          font-size: 12px;
          line-height: 18px;
        }
        @include tablet{
          font-size: 14px;
          font-weight: bold;
          line-height: 22px;
        }
        @include pc_1024{
          font-size: 14px;
          line-height: 20px;
        }
      }
      h2{
        font-size: 24pt;
        @include mobile{
          font-size: 17pt;
          line-height: 30pt;
        }
        @include tablet{
          font-size: 24pt;
          line-height: 40pt;
        }
      }
      img{
        position: relative;
        top:-270px;
        left: -300px;
        z-index: -1;
        width: 100%;
        height: auto;
      }
    }

  }
  #conteiner_section5{
    background: #0b1013;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding:100px 0px;
    @include tablet{
      padding:20px 0px;
    }


    h1{

      color: #30f4ab;
      height: 27px;
      font-size: 36px;
      font-weight: bold;
      line-height: 1px;
      text-transform: uppercase;
      padding-bottom: 50px;
      @include mobile{
        font-size: 16px;
        line-height: 18px;
      }
      @include tablet{
        padding-top: 50px;
        font-size: 24px;
        font-weight: bold;
        line-height: 1px;
        padding-bottom: 10px;
      }
    }
    #conteiner_section5_box {
      padding: 100px 50px 80px 50px;
      //padding-top: 100px;

      display: flex;
      flex-direction: row;
      background: url('../img/dotedline.png') no-repeat center;
      background-size: 120%;
      @include mobile{

        padding: 10px 0px 5px 0px;
      }
      @include tablet{
        padding: 50px 20px 50px 20px;
      }
      .conteiner_section5_box1 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-right: 30px;
        @include mobile{
          padding-right: 5px;
          flex-wrap: wrap;
        }
        img {
          max-width: 100%;
          height: auto;
          @include mobile{
            max-width: 100%;
            height: 114px;
          }
        }
        p {
          color: #e6e6e6;
          font-size: 24px;
          font-weight: 400;
          line-height: 30px;
          text-transform: uppercase;
          @include mobile{
            font-size: 12px;
            line-height: 16px;
          }
          @include tablet{
            font-size: 10px;
            font-weight: 400;
            line-height: 13px;
          }
        }
        .down{
          padding-top: 50px;
        }
        .up{
          padding-bottom: 50px;
        }
      }
    }
  }

}

