
$color_header:#0b1013;
$color_white:white;
$color_botton:#30f4ab;
$color_sub_navbar:#e6e6e6;
$color_text_sub_navbar:#acacac;
$bacground_color:#e6e6e6;
$color_green:#23664d;




//fonts
$font_family_header:"Noto Sans";
$font_family:"Noto Sans";
$font_size_header:20px;
