doctype html
html(lang="eng")
    head
        title Alcohol Delivery
        include components/links
    body(ng-app="myapp" ng-controller="myCtrl as my")
        header

            include components/header
        main
            ng-view
        footer
            include components/footer
        script( src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js")
        script( src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js")

        script( src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js")
        script( src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js")
        script( src='../js/main.js')
        script( src="../js/config.js")






